.attachmentcontrol .upload {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.attachmentcontrol .upload .header {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 20px;
}
.attachmentcontrol .upload .header h5 {
  margin-bottom: 5px;
}
.attachmentcontrol .upload .header p {
  line-height: 1em;
}
.attachmentcontrol .upload .toolbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.attachmentcontrol .upload .toolbar .fileinput-button {
  flex-basis: 140px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #BE1E2D;
  color: white;
  padding: 0 20px;
  border-radius: 8px;
  height: 50px;
  line-height: 50px;
}
.attachmentcontrol .upload .toolbar .fileinput-button span {
  margin-right: 5px;
}
.attachmentcontrol .upload .toolbar .fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
.attachmentcontrol .upload .toolbar .fileinput-button.disabled {
  background: #CCC;
  color: white;
}
.attachmentcontrol .upload .toolbar .uploadallbutton {
  padding: 5px 20px;
  margin: 0 10px 0 0;
  background: #4dbf3b;
  color: white;
  display: none;
}
.attachmentcontrol .upload .toolbar .uploadallbutton span {
  margin-right: 5px;
}
.attachmentcontrol .attachmentprogress {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin: 0 20px 0 0;
}
.attachmentcontrol .attachmentprogress .bar {
  background: #2dc62d;
  width: 0;
  height: 10px;
  margin: 10px 20px;
}
.attachmentcontrol .attachments {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 100%;
  border-bottom: 2px solid #CCC;
  padding: 0 10px 10px 20px;
  display: none;
}
.attachmentcontrol .attachments .attachment {
  background: rgba(235, 235, 235, 0.8);
  border: 1px solid #CCC;
  text-align: center;
  margin: 0 10px 10px 0;
  width: 200px;
  position: relative;
  min-height: 190px;
}
.attachmentcontrol .attachments .attachment canvas {
  border: 1px solid #CCC;
  padding: 1px;
  margin: 10px;
}
.attachmentcontrol .attachments .attachment div.previewerror,
.attachmentcontrol .attachments .attachment div.preview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 124px;
  height: 84px;
  margin: 10px auto;
  border: 1px solid#DDD;
  padding: 1px;
  background: #FFF;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #DDD;
  font-size: 22px;
}
.attachmentcontrol .attachments .attachment div.previewerror span,
.attachmentcontrol .attachments .attachment div.preview span {
  font-size: 40px;
}
.attachmentcontrol .attachments .attachment div.preview {
  font-size: 20px;
  line-height: 20px;
}
.attachmentcontrol .attachments .attachment span.remove {
  position: absolute;
  color: #CCC;
  top: 3px;
  right: 3px;
  font-size: 20px;
}
.attachmentcontrol .attachments .attachment span.remove em {
  display: none;
}
.attachmentcontrol .attachments .attachment span.remove:hover {
  color: #C33;
  cursor: pointer;
}
.attachmentcontrol .attachments .attachment span.name {
  display: block;
  padding: 5px 10px;
  background: #DDD;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.attachmentcontrol .attachments .attachment button.uploadbutton {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  margin: 10px 0;
  background: #4dbf3b;
  color: white;
}
.attachmentcontrol .attachments .attachment button.uploadbutton span {
  margin-right: 5px;
}
.attachmentcontrol .attachments .attachment span.message,
.attachmentcontrol .attachments .attachment span.failed {
  background: #C33;
  color: white;
  padding: 11px 5px 15px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 198px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.attachmentcontrol .attachments .attachment span.message span.icon-error,
.attachmentcontrol .attachments .attachment span.failed span.icon-error {
  padding-right: 5px;
  font-size: 20px;
}
.attachmentcontrol .attachments .attachment span.success {
  background: #4dbf3b;
}
.attachmentcontrol .attachments .attachment span.success span.icon-checkmark {
  padding-right: 5px;
  font-size: 20px;
}
.attachmentcontrol .attachments .attachment.uploadable {
  border: 1px solid #ccddd1;
}
.attachmentcontrol .existingattachments {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
}
.attachmentcontrol .existingattachments .attachment:nth-child(2) {
  border-top: 1px dashed #CCC;
  margin-top: 10px;
}
.attachmentcontrol .existingattachments .attachment {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: stretch;
  border-bottom: 1px dashed #CCC;
  min-height: 100px;
}
.attachmentcontrol .existingattachments .attachment .info {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0;
}
.attachmentcontrol .existingattachments .attachment .info span.icon-attach_file,
.attachmentcontrol .existingattachments .attachment .info span.download {
  flex-basis: 80px;
  min-width: 80px;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}
.attachmentcontrol .existingattachments .attachment .info span.download {
  display: none;
}
.attachmentcontrol .existingattachments .attachment .info span.download em {
  font-size: 12px;
  font-style: normal;
}
.attachmentcontrol .existingattachments .attachment .info .labels {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.attachmentcontrol .existingattachments .attachment .info .labels p {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
  font-size: 14px;
}
.attachmentcontrol .existingattachments .attachment .info .labels p strong {
  font-size: 16px;
}
.attachmentcontrol .existingattachments .attachment .info:hover span.download {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 3px;
}
.attachmentcontrol .existingattachments .attachment .info:hover span.icon-attach_file {
  display: none;
}
.attachmentcontrol .existingattachments .attachment .info:hover .actions a.delete {
  display: none;
}
.attachmentcontrol .existingattachments .attachment .actions {
  flex-basis: 80px;
  flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.attachmentcontrol .existingattachments .attachment .actions a.delete {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
.attachmentcontrol .existingattachments .attachment .actions a.delete em {
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
}
.attachmentcontrol .existingattachments .attachment .actions a.delete:hover {
  background: #FDD;
  color: #C33;
  text-decoration: none;
}
.attachmentcontrol .existingattachments .attachment:hover {
  background: rgba(245, 245, 245, 0.9);
  cursor: pointer;
  color: #BE1E2D;
}
.attachmentcontrol.compact .upload .header {
  padding: 10px 20px;
}
.attachmentcontrol.compact .upload .header h5 {
  font-size: 16px;
}
.attachmentcontrol.compact .upload .header p {
  font-size: 14px;
}
.attachmentcontrol.compact .upload .toolbar .fileinput-button {
  flex-basis: 130px;
  padding: 0 10px 0 20px;
  height: 40px;
  line-height: 40px;
}
.attachmentcontrol.compact .upload .toolbar .uploadallbutton {
  padding: 0 20px;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.attachmentcontrol.compact .attachmentprogress {
  display: none;
}
.attachmentcontrol.compact .attachments {
  border-bottom: 1px dashed #CCC;
  padding: 10px 10px 10px 20px;
}
.attachmentcontrol.compact .attachments .attachment {
  text-align: left;
  margin: 0 0 2px;
  width: 100%;
  min-height: 34px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.attachmentcontrol.compact .attachments .attachment canvas {
  border: none;
  padding: 0;
  margin: 1px;
}
.attachmentcontrol.compact .attachments .attachment div.previewerror,
.attachmentcontrol.compact .attachments .attachment div.preview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 48px;
  height: 32px;
  margin: 1px;
  font-size: 12px;
}
.attachmentcontrol.compact .attachments .attachment div.previewerror span,
.attachmentcontrol.compact .attachments .attachment div.preview span {
  font-size: 14px;
}
.attachmentcontrol.compact .attachments .attachment span.name {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 5px 10px 0;
  background: transparent;
  min-width: 100px;
}
.attachmentcontrol.compact .attachments .attachment button.uploadbutton {
  padding: 0 20px;
  margin: 2px 40px 0 20px;
}
.attachmentcontrol.compact .attachments .attachment span.message,
.attachmentcontrol.compact .attachments .attachment span.failed {
  padding: 8px;
  bottom: auto;
  right: 30px;
  width: 145px;
  font-size: 14px;
}
.attachmentcontrol.compact .attachments .attachment span.message span.icon-error,
.attachmentcontrol.compact .attachments .attachment span.failed span.icon-error {
  display: none;
}
.attachmentcontrol.compact .attachments .attachment.uploadable {
  border: 1px solid #ccddd1;
}
.attachmentcontrol.compact .existingattachments {
  padding: 10px 20px;
}
.attachmentcontrol.compact .existingattachments h5 {
  font-size: 16px;
}
.attachmentcontrol.compact .existingattachments p {
  font-size: 14px;
}
.attachmentcontrol.compact .existingattachments .attachment {
  border: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.8);
}
.attachmentcontrol.compact .existingattachments .attachment .info {
  padding: 5px 0;
}
.attachmentcontrol.compact .existingattachments .attachment .info span.icon-attach_file,
.attachmentcontrol.compact .existingattachments .attachment .info span.download {
  flex-basis: 50px;
  min-width: 50px;
  font-size: 28px;
  padding-top: 3px;
}
.attachmentcontrol.compact .existingattachments .attachment .info span.download em {
  display: none;
}
.attachmentcontrol.noattachments .attachments {
  border-bottom: none;
}
@media only screen and (min-width: 700px) {
  .attachmentcontrol .upload {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .attachmentcontrol .upload .header {
    padding-bottom: 0;
  }
  .attachmentcontrol .upload .toolbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-basis: 300px;
  }
  .attachmentcontrol .upload .toolbar .fileinput-button {
    margin: 5px;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#mainContainer {
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  min-height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#mainContainer #logoColumn {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background-color: #BE1E2D;
}
#mainContainer #logoColumn #logo {
  margin-top: 100px;
  text-align: center;
}
#mainContainer #loginColumn {
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 500px;
  text-align: center;
  padding-top: 100px;
  /*position: relative;*/
}
#mainContainer #loginColumn #loginlinks {
  margin: 20px;
  font-size: 0.8em;
  text-decoration: underline;
  /*position: absolute;
         bottom: 0;*/
}
#mainContainer #loginColumn form {
  margin: 50px;
}
#mainContainer #loginColumn form input[type="text"],
#mainContainer #loginColumn form input[type="password"],
#mainContainer #loginColumn form select {
  width: 100%;
  margin: 5px;
}
#mainContainer #loginColumn form #divrmbrforgot {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}