@import (reference) "variables.less";

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: @fgorange;
    font-family: 'Lato', sans-serif;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: @fgorange;
}

#mainContainer {
    margin: 40px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
    max-width: 1200px;

    .panel {
        margin: 10px 0px;
        padding: 10px 0px;
        border-top: 1px solid gray;

        #divSearch {
            input {
                height: 30px;
                border: 1px solid gray;
                border-radius: 5px;
                padding-left: 5px;
            }

            button {
                height: 30px;
            }
        }

        form {
            label {
                display: inline-block;
                width: 100px;
            }
        }
    }

    #viewSearchResults {
        .btnAddToList {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .restaurantcontainer {
        .flexh;
        .flexnw;
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: white;

        .restaurantpic {
            img {
                width: 100px;
                height: 100px;
                border-radius: 5px;
            }
        }

        .restaurantdetails {
            margin-left: 20px;

            h3, h4 {
                margin-top: 5px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 20px;
            }

            .restaurantbuttons {
                margin-top: 10px;
                margin-bottom: 10px;

                span {
                    margin-right: 10px;
                    cursor: pointer;
                    border: 1px solid gray;
                    border-radius: 10px;
                    padding: 5px;
                    background: @fgorange;
                }
            }
        }
    }
}
